/* ----------------------- Colors */
.bgc-green {
  background-color: #337D49;
}
.bgc-blue {
  background-color: #21748C;
}
.bgc-orange {
  background-color: #FE7E17;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
.insights__more-post {
  margin-top: 64px;
  margin-bottom: 64px;
}
.insights__wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.wrapper-category {
  padding-bottom: 80px;
  background: linear-gradient(180deg, #21748C 0%, #185065 100%);
}
.insights__sub-title {
  font-family: Cardo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 36px;
}
.services {
  display: flex;
  margin-top: 96px;
}
.services__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 68px 32px;
}
.services__item {
  display: flex;
  width: 868px;
  padding-bottom: 48px;
}
.services__tags--title {
  font-family: Cardo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #212121;
  margin: 32px 12px;
}
.services__tags--item {
  display: flex;
  align-items: center;
  margin: 16px 12px;
}
.services__tags--item .item-name {
  margin-left: 16px;
}
.services__tags--item .item-name__title {
  font-family: Cardo;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #212121;
}
__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 68px 32px;
}
.description__meta {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #929292;
}
.description__title {
  font-family: Cardo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #212121;
}
.description__text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}
.description__date {
  display: flex;
}
.description__date .date {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 26px;
  color: #929292;
}
.more-post__title {
  font-family: Cardo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #212121;
}
.more-post__list {
  margin-top: 20px;
}
.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category-post {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.category-post__inner {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  top: 32px;
  right: 32px;
  bottom: 32px;
  left: 32px;
  z-index: 2;
}
.category-post__category {
  display: inline-flex;
  align-items: center;
  height: 28px;
  margin-right: 12px;
  padding: 0 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 4px;
  color: #FFFFFF;
}
.category-post__title {
  margin-top: auto;
  font-family: Cardo;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}
.category-post__info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.category-post__info-item {
  margin-right: 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 26px;
  color: #ffffff;
}
.form {
  width: 1170px;
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 18px;
}
.form__button,
.form__search {
  border: none;
  outline: none;
}
.form__button img,
.form__search img {
  background: #fff;
}
.form__search {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  width: 280px;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
.load-button {
  position: absolute;
  background: #FE7E17;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 16px 38px;
}
.load-button span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0px;
}
body {
  counter-reset: section;
}
.sa-header--insights {
  margin-bottom: 78px;
}
.new-breadcrumbs {
  width: 100%;
  text-align: center;
}
.new-breadcrumbs span {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.new-breadcrumbs a {
  color: #000000;
}
.new-breadcrumbs_last {
  color: rgba(0, 0, 0, 0.5);
}
.new-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.new-meta__author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.new-meta__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.new-meta__item:not(:first-child):before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #E0E0E0;
}
.new-meta__avatar {
  width: 56px;
  height: 56px;
  margin: 0 !important;
  border-radius: 100%;
}
.new-meta__text,
.new-meta__link {
  margin: 0 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #616161;
}
.insights {
  width: 100%;
}
.insights__breadcrumbs {
  margin-bottom: 46px;
}
.insights__title {
  margin-bottom: 15px;
}
.insights__title-lines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.insights__title-line {
  width: 68px;
  height: 2px;
  margin: 0 16px;
}
.insights h1 {
  font-family: Cardo;
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 1px;
  color: #212121;
}
.insights__top {
  margin-bottom: 60px;
}
.insights__text {
  width: 100%;
}
.insights h2 {
  max-width: 600px;
  margin: 0 auto;
  font-family: Cardo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.insights h3 {
  max-width: 600px;
  margin: 16px auto;
  font-family: Cardo;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.insights p {
  max-width: 600px;
  margin: 16px auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #000000;
}
.insights img {
  display: block;
  max-width: 100%;
}
.insights__text img {
  margin: 64px auto;
}
.insights ul {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #000000;
}
.insights li {
  display: flex;
  padding-left: 16px;
}
.insights li:before {
  content: "";
  display: inline-block;
  min-width: 7px;
  width: 7px;
  height: 7px;
  margin-top: 13px;
  margin-right: 8px;
  border-radius: 100%;
  background-color: #616161;
}
.insights__content-list {
  margin-top: 64px;
  margin-bottom: 64px;
  padding-top: 224px;
  background: url("../imgs/content/content-list-bg.jpg") no-repeat center center;
  background-size: cover;
}
.insights__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.insights__tags {
  display: flex;
  flex-wrap: wrap;
}
.insights__tags-link {
  display: flex;
  align-items: center;
  height: 28px;
  margin: 8px 6px;
  padding: 0 16px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #929292;
  background-color: #F7F7F7;
  border-radius: 4px;
}
.insights__tags-link:hover {
  background: #FE7E17;
  color: #fff;
}
.insights__share {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.insights__share-text {
  margin-right: 16px;
  font-family: Cardo;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  color: #212121;
}
.insights__share-link {
  margin-right: 16px;
}
.insights__top-like {
  position: fixed;
  top: 50%;
  right: 100px;
  transform: translate(0, -50%);
}
.insights-top {
  background-color: #FE7E17;
  cursor: pointer;
}
.insights-like {
  flex-direction: column;
  margin-top: 16px;
  background-color: #fff;
}
.insights-like__counter {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  margin-top: 3px;
  font-size: 12px;
  line-height: 12px;
  color: #000000;
}
.top-like__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: 1px solid #E0E0E0;
}
.content-list__wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.content-list-ul {
  max-width: 468px;
  padding: 50px 48px 46px 48px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-bottom: none;
}
.content-list-ul__title {
  font-family: Cardo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.content-list-ul__list {
  margin-top: 18px;
}
.content-list-ul ul {
  margin: 0;
}
.content-list-ul li {
  margin-top: 8px;
  padding-left: 0;
  color: #616161;
}
.content-list-ul li:before {
  counter-increment: section;
  content: counter(section);
  width: 30px;
  height: auto;
  margin: auto 0;
  background-color: transparent;
  border-radius: 0;
}
.content-list-ul a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #FE7E17;
}
