//main:styles.less;
.bgc-green {
  background-color: @green;
}

.bgc-blue {
  background-color: @blue;
}

.bgc-orange {
  background-color: @orange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.insights {
  &__more-post {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  &__wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
}

.wrapper-category {
  padding-bottom: 80px;
  background: linear-gradient(180deg, #21748C 0%, #185065 100%);

}

.insights__sub-title {
  .font-Cardo(bold);
  font-size: 32px;
  line-height: 38px;
  color: @white;
  padding-top: 80px;
  padding-bottom: 36px;
}

.services {
  display: flex;
  margin-top: 96px;

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 68px 32px;
  }

  &__item {
    display: flex;
    width: 868px;
    padding-bottom: 48px;
  }

  &__tags {
    &--title {
      .font-Cardo();
      font-size: 24px;
      line-height: 29px;
      color: @darkGrey;
      margin: 32px 12px;
    }

    &--item {
      display: flex;
      align-items: center;
      margin: 16px 12px;

      .item-name {
        margin-left: 16px;

        &__title {
          .font-Cardo(bold);
          font-size: 16px;
          line-height: 120%;
          color: @darkGrey;
        }
      }
    }
  }
}

&__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 68px 32px;
}

.description {
  &__meta {
    .font-OpenSans();
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: @shareText;
  }

  &__title {
    .font-Cardo(bold);
    font-size: 32px;
    line-height: 38px;
    color: @darkGrey;
  }

  &__text {
    .font-OpenSans();
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: @darkGrey;
  }

  &__date {
    display: flex;

    .date {
      .font-OpenSans(600);
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 26px;
      color: @shareText;
    }
  }
}



.more-post {
  &__title {
    .font-Cardo();
    font-size: 24px;
    line-height: 29px;
    color: @darkGrey;
  }

  &__list {
    margin-top: 20px;
  }

  &__elem {}
}

.category-list {
  .flex-box();
  justify-content: space-between;
}

.category-post {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;

  &__inner {
    position: absolute;
    .flex-box();
    flex-direction: column;
    align-items: flex-start;
    top: 32px;
    right: 32px;
    bottom: 32px;
    left: 32px;
    z-index: 2;
  }

  &__category {
    display: inline-flex;
    align-items: center;
    height: 28px;
    margin-right: 12px;
    padding: 0 16px;
    .font-OpenSans();
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
  }

  &__title {
    margin-top: auto;
    .font-Cardo(bold);
    font-size: 32px;
    line-height: 38px;
    color: #ffffff;
  }

  &__info {
    .flex-box();
    margin-top: 10px;

    &-item {
      margin-right: 16px;
      .font-OpenSans(600);
      font-size: 12px;
      line-height: 26px;
      color: #ffffff;
    }
  }
}

.form {
  width: 1170px;  
  display: flex;
  position: relative;
  margin: 0 auto;
  margin-top: 18px;

  &__button,
  &__search {
    border: none;
    outline: none;

    img {
      background: @white;
    }
  }

  &__search {
    .font-OpenSans();
    width: 280px;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
}

.load-button {
  position: absolute;
  background: @orange;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 16px 38px;


  span {
    .font-OpenSans(bold);
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: @white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
  }
}