// main: styles.less;

.font-OpenSans(@fw:normal){
    font-family: Open Sans;
    font-style: normal;
    font-weight: @fw;
}
.font-Cardo(@fw:normal){
	font-family: Cardo;
    font-style: normal;
    font-weight: @fw;
}
.flex-box(){
	display: flex;
	flex-wrap: wrap;
}