@import "var";
@import "mixin";
@import "category";

body {
  counter-reset: section;
}
.sa-header--insights{
  margin-bottom: 78px;
}
.new-breadcrumbs{
  width: 100%;
  text-align: center;
  span{
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  a{
    color: @black;
  }
  &_last{
    color: rgba(0,0,0,0.5);
  }
}
.new-meta{
  .flex-box();
  justify-content: center;
  align-items: center;
  &__author{
    .flex-box();
    align-items: center;
  }
  &__item{
    .flex-box();
    align-items: center;
    &:not(:first-child):before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: @white-milk;
    }
  }
  &__avatar{
    width: 56px;
    height: 56px;
    margin: 0 !important;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
  }
  &__text,
  &__link{
    margin: 0 16px;
    .font-OpenSans();
    font-size: 16px;
    line-height: 170%;
    color: @grey;
  }
}
.insights{
  width: 100%;
  &__breadcrumbs{
    margin-bottom: 46px;
  }
  &__title{
    margin-bottom: 15px;
  }
  &__title-lines{
    .flex-box();
    justify-content: center;
    margin-bottom: 40px;
  }
  &__title-line{
    width: 68px;
    height: 2px;
    margin: 0 16px;
  }
  h1{
    .font-Cardo();
    font-size: 39px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 1px;
    color: @darkGrey;
  }
  &__top{
    margin-bottom: 60px;
  }
  &__text{
    width: 100%;
  }
  h2{
    max-width: 600px;
    margin: 0 auto;
    .font-Cardo(bold);
    font-size: 24px;
    line-height: 32px;
    color: @black;
  }
  h3{
    max-width: 600px;
    margin: 16px auto;
    .font-Cardo(bold);
    font-size: 20px;
    line-height: 27px;
    color: @black;
  }
  p{
    max-width: 600px;
    margin: 16px auto;
    .font-OpenSans();
    font-size: 18px;
    line-height: 180%;
    color: @black;
  }
  img{
    display: block;
    max-width: 100%;
  }
  &__text{
    img{
      margin: 64px auto;
    }
  }
  ul{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    .font-OpenSans();
    font-size: 18px;
    line-height: 180%;
    color: @black;
  }
  li{
    display: flex;
    padding-left: 16px;
    &:before{
    content: "";
    display: inline-block;
    min-width: 7px;
    width: 7px;
    height: 7px;
    //margin-bottom: 5px;
    margin-top: 13px;
    margin-right: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: @grey;
    }
  }

  &__content-list{
    margin-top: 64px;
    margin-bottom: 64px;
    padding-top: 224px;
    background: url("../imgs/content/content-list-bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }

  &__bottom{
    .flex-box();
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  &__tags{
    .flex-box();

    &-link{
      display: flex;
      align-items: center;
      height: 28px;
      margin: 8px 6px;
      padding: 0 16px;
      .font-OpenSans();
      font-size: 12px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: @shareText;
      background-color: #F7F7F7;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      &:hover{
        background: @orange;
        color: @white;
      }
    }
  }

  &__share{
    .flex-box();
    align-items: center;

    &-text{
      margin-right: 16px;
      .font-Cardo();
      font-size: 20px;
      line-height: 19px;
      color: #212121;
    }
    &-link{
      margin-right: 16px;
    }
  }

  &__top-like{
    position: fixed;
    top: 50%;
    right: 100px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  &-top{
    background-color: @orange;
    cursor: pointer;
  }
  &-like{
    flex-direction: column;
    margin-top: 16px;
    background-color: @white;
    &__counter{
      .font-OpenSans();
      margin-top: 3px;
      font-size: 12px;
      line-height: 12px;
      color: @black;
    }
  }
}
.top-like{
  &__item{
    .flex-box();
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid @white-milk;
  }
}
.content-list{
  &__wrapper{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
}
.content-list-ul{
  max-width: 468px;
  padding: 50px 48px 46px 48px;
  background-color: @white;
  border: 1px solid @white-milk;
  border-bottom:none;
  &__title{
    .font-Cardo(bold);
    font-size: 24px;
    line-height: 32px;
    color: @black;
  }
  &__list{
    margin-top: 18px;
  }
  ul{
    margin: 0;
  }
  li{
    margin-top: 8px;
    padding-left: 0;
    color: @grey;

    &:before{
    counter-increment: section;
    content: counter(section);
    width: 30px;
    height: auto;
    margin:auto 0;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    }
  }  
  a{
    .font-OpenSans();
    font-size: 18px;
    line-height: 180%;
    color: @orange;
  }
}

