// main: styles.less;


/* ----------------------- Colors */
@black: #000000;
@grey: #616161;
@darkGrey: #212121;
@orange: #FE7E17;
@blue: #21748C;
@green: #337D49;
@shareText: #929292;
@white-milk: #E0E0E0;
@white: #fff;